



NET "DIP_P99" LOC = P99;
NET "DIP_P100" LOC = P100;
NET "DIP_P101" LOC = P101;
NET "DIP_P102" LOC = P102;
NET "DIP_P104" LOC = P104;
NET "DIP_P105" LOC = P105;
NET "DIP_P111" LOC = P111;
NET "DIP_P112" LOC = P112;


NET "OSC" LOC = P123;
NET "P27" LOC = P27;
NET "P29" LOC = P29;
NET "P32" LOC = P32;
NET "P34" LOC = P34;
NET "P35" LOC = P35;
NET "P40" LOC = P40;
NET "P41" LOC = P41;
NET "P_45" LOC = P45;


NET "SL_P55" LOC = P55;
NET "SL_P56" LOC = P56;
NET "SL_P57" LOC = P57;
NET "SL_P58" LOC = P58;
NET "SL_P59" LOC = P59;
NET "SL_P61" LOC = P61;
NET "SL_P62" LOC = P62;
NET "SL_P66" LOC = P66;


NET "COM_0" LOC = P44;
NET "COM_1" LOC = P43;
NET "COM_2" LOC = P33;
NET "COM_3" LOC = P30;


NET "P46" LOC = P46;

# PlanAhead Generated physical constraints 

NET "LED_1" LOC = P82;
NET "LED_2" LOC = P81;
NET "LED_3" LOC = P80;
NET "LED_4" LOC = P79;
