
# PlanAhead Generated physical constraints 

NET "aa" LOC = P41;
NET "b" LOC = P40;
NET "c" LOC = P35;
NET "dd" LOC = P34;
NET "e" LOC = P32;
NET "f" LOC = P29;
NET "g" LOC = P27;

NET "common0" LOC = P44;
NET "common1" LOC = P43;
NET "common2" LOC = P33;
NET "common3" LOC = P30;

NET "sw_clk" LOC = P50;


